.accordion-button:not(.collapsed) {
    color: white  !important;
    background-color: black !important;
  }
  
.accordion-button:focus {
  border-color: black !important;
  outline: 0;
  box-shadow: 0 0 0 .10rem black !important;
}  